/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 45px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #F8F9F9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav .div-hor {
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 25px;
  }

  .sidenav a {
    text-decoration: none;
    font-size: 12px;
    color: #2C3E50;
    display: block;
    transition: 0.3s;
  }

  .sidenav i {
    padding: 0px;
    font-size:20px;
    color:#212F3D;
    margin-right: 0px;
    align-content: center;
  }

.sidenav .nav-text  {
    transition: 0.5s;
   display: none;
   margin-left: 10px;
   align-content: center;
}
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    background-color: #ABB2B9;
    display: block;
  }

  /* .sidenav div:hover {
    background-color: #f1f1f1;
  } */
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 15px;
    margin-left: 50px;
    display: none;
  }

  .sidenav .openbtn {
    padding: 12px;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 15px;
    margin-left: 50px;
    display: block;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    margin-left: 45px;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }